@import url('formulario.css');

body {
    background: linear-gradient(#0c39ca, #274cba, #2D54CC);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.cabecalho_titulo {
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
}

.secao {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    max-width: 335px;
    max-height: 70vh;
    min-height: 25%;

}

.rodape {
    margin-top: 2.2rem;
    text-align: center;
    color: #fff;
    line-height: 1px;
}

.rodape span {
    font-size: .8rem;
}

.rodape_link {
    color: #ff9d00;
    text-decoration: none;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.727);
}

.rodape_portfolio {
    font-size: 1.6rem;
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    .secao {
        max-width: 500px;
        min-height: 60%;
    }

    .form_nascimento, .form_sexo {
        font-size: 1.6rem;
    }

    .form_input-nascimento {
        height: 35px;
    }

    .form_input-nascimento::placeholder {
        font-size: 1rem;
    }

    .form_botao {
        top: 150px;
        padding: .8rem 1rem;
    }
   
}